@model List<EditorNamesModel>


@{
    ViewData["Title"] = "Yazılar";
}

<h1><a class="text-decoration-none text-dark" asp-action="Create">Yazı Ekle</a></h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().TextTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Summary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().CreationDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TextTitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Summary)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Content)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreationDate)
                </td>
                <td>
                    <a class="text-primary" asp-action="Edit" asp-route-id="@item.CategoryId">düzenle</a> /
                    <a class="text-primary" asp-action="Delete" asp-route-id="@item.CategoryId">sil</a>
                </td>
            </tr>
        }
    </tbody>
</table>
